.App {
  text-align: center;
}
html, body{
  font-size: 16px !important;
  margin: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D5D5D5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #959595; 
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-container{
  padding: 0 10vw;
  text-align: left;
}
.m-b-2{
  margin-bottom: 2rem;
}
.t-a-c{
  text-align: center;
}
.m-t-5{
  margin-top: .5rem !important;
}
.f-w-600{
  font-weight: 600;
}
.f-w-800{
  font-weight: 800;
}
.cursor-pointer{
  cursor: pointer !important;
}
.a-link, .a-link:hover{
  text-decoration: none;
  color: #464A4D;
}
@media screen and (max-width:960px) {
  html, body{
    font-size: 12px !important;
  }
}